<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons for Sale</title>

    <script src="https://unpkg.com/vue"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text='sitename'></h1>
            <button @click='showCheckout'>{{this.cart.length}} <span class="fas fa-shopping-cart"></span> Checkout</button>
        </header>
        <main>
            <div v-if='showProduct'>
                <div v-for='product in sortedProducts'>
                    <figure>
                        <p><img v-bind:src="product.image" alt="Lessons" height="100px" ></p>
                    </figure>
                    <h2 v-text="product.title"></h2>
                    <p v-text="product.description"></p>
                    <p>Price:£{{product.price}}</p>
                    <p>Available space: {{product.availableInventory}}</p>
                    <p>Location: {{product.location}}</p>
                    <button v-on:click='addToCart(product)' @click="reduce" v-if='canAddToCart(product)'> <span class="fas fa-cart-plus"></span> Add to cart</button>
                    <button disabled='disabled' v-else>Add to cart</button>
                    <span v-if='product.availableInventory === cartCount(product.id)'>Out of stock</span>
                    <span v-else-if= 'product.availableInventory - cartCount(product.id) < 5'>
                        Only {{product.availableInventory - cartCount(product.id)}} left
                    </span>    
                    <span v-else>Buy now!</span>
                    <p>
                        <span v-for='n in product.rating'>⭐</span>
                        <span v-for='n in 5 - product.rating'><span class="fas fa-star"><span></span>
                    </p>
                </div>
            </div>    
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName"/>
                </p>
                <p>
                    <strong>Address:</strong>
                    <input v-model="order.address"/>
                </p>
                <p>
                    <strong>Phone Number:</strong>
                    <input v-model.number="order.phone" type="number"/>
                </p>
                <p>
                    <strong> City:</strong>
                    <input v-model.trim="order.city"/>
                </p>
                
                <p>
                    <strong> Post Code:</strong>
                    <input v-model="order.postCode"/>
                </p>

                <p>
                    <strong>Borough:</strong>
                    <select v-model="order.borough">
                        <option disabled value="">Borough</option>
                        <option>Barnet</option>
                        <option>Brent</option>
                        <option>Islington</option>
                        <option>Middlsex</option>
                    </select>
                </p>
                
                <h2>Order Information</h2>
                
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <P>Address: {{order.address}}</P>
                <p>Phone Number: {{order.phone}}</p>
                <p>City: {{order.city}}</p>
                <p>Post Code: {{order.postCode}}</p>
                <p>Borough: {{order.borough}}</p>

                <button @click='submitForm'>Submit Order</button>
            </div>
         </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Lessons for Sale',
                //product: {
                    //id: 1001,
                   // title: "Mathematics",
                    //description: " A fun and interactive math lesson",
                    //location: "5 james lane, N2",
                   // price: 45,
                    //image: "math1.png",
                    //availableInventory:10,
                    //rating: 3,
               //},
                products: products,
                cart:[],
                showProduct: true,
                order: {
                    firstName:'',
                    lastName:'',
                    address:'',
                    phone:'',
                    city:'',
                    borough:'',
                    postCode:'',
                }
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                },

                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order Submitted!')
                },
                //reduce(availableInventory) {
                  // return availableInventory --;
                //},
                canAddToCart (product) {
                    return product.availableInventory > this.cartCount(product.id)
                },
                cartCount (id) {
                    let count =0;
                    for(let i=0; i<this.cart.length; i++) {
                        if(this.cart[i] === id) count++;
                    }
                    return count;
                },
                reduce (product) {
                    product.availableInventory --;
                },
                
            },
            computed: {
                sortedProducts() {
                    let productsArray = this.products.slice(0);
                    function compare(a,b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }
               // cartItemCount: function() {
                //    return this.cart.length || '';
               // },
               // canAddToCart: function() {
                //    return this.product.availableInventory ;
              //  }
            },
        });
    </script>
    
</body>
</html>