/* reset */
* {
    margin: 4;
    padding: 4;
}
body {
    background-color: white;
}

h1 {

    color: rgb(30, 196, 127);
    font-size: 60px;
    font-family: 'Ultra', cursive, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card {
    margin: 2px;
    padding: 30px;
    border: 2px solid;
    float: left; 
    display:inline; 
    width: 28%;
}

